@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    overflow-x: hidden;
}

@media (max-width: 700px) {
 

    .img{
        display: none;
    }

    .logo{
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 2px;
        
    }

    .logo p{
        max-width: 100px;
        font-size: small;
        margin-right: 10px;

    }

    .nav-bar{
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .navitem{
        display: none;
    }

    .logup{
        gap: 1;
    }
    
}

